/* 
 * My97 DatePicker 4.8
 * default skin by tower1229@gmail.com
 * 默认宽度调整
 */
.WdateDiv {width: 200px; font-size:14px; background: #fff;color:#666;border:1px solid #ccc; }
.WdateDiv2 { width: 200px; }
.WdateDiv .NavImg a { display: block; cursor: pointer; height: 16px; width: 16px; }
.WdateDiv .NavImgll a { float: left; background: transparent url(img.gif) no-repeat scroll 0 0; }
.WdateDiv .NavImgl a { float: left; background: transparent url(img.gif) no-repeat scroll -16px 0; }
.WdateDiv .NavImgr a { float: right; background: transparent url(img.gif) no-repeat scroll -32px 0; }
.WdateDiv .NavImgrr a { float: right; background: transparent url(img.gif) no-repeat scroll -48px 0; }
.WdateDiv #dpTitle {height: 1em;line-height: 1em; padding:1em 0; margin-bottom: 2px;text-align: center;}

.WdateDiv .yminput { text-align: center; border: 0px; width: 4em;font-weight: 700; 
color:inherit; cursor: pointer; }
.WdateDiv .yminputfocus { margin-top: 2px; text-align: center; font-weight: bold; height: 20px; color: blue; border: #ccc 1px solid; width: 50px; }
.WdateDiv .menuSel { z-index: 1; position: absolute; background-color: #FFFFFF; border: #ccc 1px solid; display: none; }
.WdateDiv .menu { cursor: pointer; background-color: #fff; }
.WdateDiv .menuOn { cursor: pointer; background-color: #eee; }
.WdateDiv .invalidMenu { color: #aaa; }
.WdateDiv .YMenu { margin-top: 20px; }
.WdateDiv .MMenu { margin-top: 20px;  *width:62px;
}
.WdateDiv .hhMenu { margin-top: -90px; margin-left: 26px; }
.WdateDiv .mmMenu { margin-top: -46px; margin-left: 26px; }
.WdateDiv .ssMenu { margin-top: -24px; margin-left: 26px; }
.WdateDiv .Wweek { text-align: center; background: #DAF3F5; border-right: #be0203 1px solid; }
/*table*/
.WdateDiv .WdayTable2 { border-collapse: collapse; }
.WdateDiv .WdayTable2 table { border: 0; }
.WdateDiv .WdayTable { line-height: 2em;font-size:inherit;font-family: inherit; border-top:1px solid #ccc;
border-spacing: 2px;background:#fff;}
.WdateDiv td { text-align: center; background:#eee;}
.WdateDiv .Wday { cursor: pointer; }

.WdateDiv .Wwday { cursor: pointer; color: #FF2F2F; }
/*hover*/
.WdateDiv .WdayOn ,.WdateDiv .WwdayOn { cursor: pointer; background-color: #ccc; }
/*今天*/
.WdateDiv .Wtoday { cursor: pointer; font-weight: 700; }
/*选中*/
.WdateDiv .Wselday { background-color: #f80;color:#fff; }
.WdateDiv .WspecialDay { background-color: #66F4DF; }
/*周*/
.WdateDiv .MTitle {border-bottom:1px solid #ccc; }
.WdateDiv .MTitle td{background:none;}
/*相邻月份*/
.WdateDiv .WotherDay { visibility: hidden;}
.WdateDiv .WotherDayOn { cursor: pointer; background-color: #C0EBEF; }
.WdateDiv .WinvalidDay { color: #aaa; }
.WdateDiv #dpTime { float: left; margin-top: 3px; margin-right: 30px; }
.WdateDiv #dpTime #dpTimeStr { margin-left: 1px; }
.WdateDiv #dpTime input { width: 18px; height: 20px; text-align: center; border: #ccc 1px solid; }
.WdateDiv #dpTime .tB { border-right: 0px; }
.WdateDiv #dpTime .tE { border-left: 0; border-right: 0; }
.WdateDiv #dpTime .tm { width: 7px; border-left: 0; border-right: 0; }
.WdateDiv #dpTime #dpTimeUp { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -32px -16px; }
.WdateDiv #dpTime #dpTimeDown { height: 10px; width: 13px; border: 0px; background: url(img.gif) no-repeat -48px -16px; }
.WdateDiv #dpControl { text-align: right; }
.WdateDiv .dpButton { height: 20px; width: 45px;margin: 2px; margin-right: 1px; }